.landing-component-container {
  width: 100%;
}

.LandingComponent {
  padding: 20px;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.welcome-text {
  text-align: center;
  padding: 12px 0;
}

.welcome-text div:first-of-type {
  color: #F8B000;
  font-size: 20px;
  font-weight: 100;
}

.welcome-text div:last-of-type {
  color: #F8B000;
  font-size: 68px;
  font-weight: 100;
}

.landing-btn-container {
  position: relative;
}

.landing-background {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0px 0px !important;
  height: 100%;
  width: 100%;
  background-image: url('../../images/food_pattern.png') !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  opacity: 0.05;
}

.landing-btn-container>div {
  display: flex;
  background: #F8B000;
  justify-content: center;
  padding: 12px 6px;
}

.social-container {
  position: relative;
  padding: 12px 0;
  text-align: center;
  background: #5b85e0;
}

.landing-recipe-container {
  text-align: center;
  display: flex;
  background: #03a349;
  position: relative;
}

.landing-favourite-container {
  text-align: center;
  display: flex;
  background: #af64e5;
  position: relative;
}

.landing-friends-container {
  text-align: center;
  display: flex;
  background: #f66f2b;
  position: relative;
}


.welcome-long-text {
  color: #8d8d8d;
  font-size: 14px;
  padding: 16px 12px;
  text-align: center;
}

.landing-btn-container a {
  width: 140px;
}

.landing-recipe-text-container,
.landing-favourite-text-container,
.landing-friends-text-container {
  padding: 30px 10px;
  color: white;
  font-weight: 100;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

.landing-card-title {
  font-size: 44px;
  font-weight: 100;
  padding-top: 2px;
}

@media only screen and (max-width: 600px) {
  .LandingComponent {
    padding: 10px;
  }

  .landing-card {
    margin: 0px !important;
    margin-bottom: 10px !important;
  }

  .landing-component-container {
    padding: 10px;
  }

  .landing-btn-container>div {
    flex-direction: column;
  }

  .landing-logo {
    width: 100%;
    height: 120px;
    margin-bottom: 10px;
    background-position: center center;
  }

  .landing-btn-container a {
    width: auto;
  }

  .welcome-text div:last-of-type  {
    font-size: 52px;
  }

  .landing-recipe-text-container>div:last-of-type,
  .landing-favourite-text-container>div:last-of-type {
    font-size: 36px;
    padding-top: 5px;
  }
}