body {
  /* background-image: url('../../images/bg2.jpg'); */
  background: #e7e7e7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

button a {
  text-decoration: none;
  color: white;
}

.ComponentContent {
  height: calc(100vh - 116px);
  padding: 88px 28px 28px 28px;
  display: flex;
  flex-direction: row;
}

.btn-my:hover {
  background: #ddad00 !important;
}

.account-dropdown {
  margin-top: 6px;
}