body {
  font-family: 'Roboto', sans-serif;
  background: #e6e6e6;
}

button a {
  text-decoration: none;
  color: white;
}

.sign-form {
  width: 100%;
  height: calc(100vh - 128px);
}

.sign-paper {
  padding: 16px;
  position: relative;
}

.sign-title {
  text-align: center;
}

.sign-up-link-container,
.forgot-password-container {
  padding: 12px 0px 5px 0px;
  text-align: right;
}

.password-input-container {
  position: relative;
}

.sign-input {
  width: 100% !important;
}

.sign-input label {
  z-index: 50;
}

.outer {
  display: table;
  position: absolute;
  height: calc(100vh - 128px);
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 380px;
}

.sign-btn {
  width: 100% !important;
  margin-top: 10px !important;
}

.show-password-btn {
  position: absolute !important;
  right: 0 !important;
  bottom: 0 !important;
  background: none !important;
}

.ComponentContent {
  height: calc(100vh - 80px);
  padding-top: 80px;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  background: #e6e6e6;
}

.btn-my:hover {
  background: #eca900 !important;
}

.btn-clear:hover {
  background: #e24b00 !important;
}

.account-dropdown {
  margin-top: 6px;
}

.paper-title {
  border-radius: 4px;
  padding: 0px !important;
  height: 56px;
  display: flex;
  color: white !important;
  position: relative;
  flex-direction: row;
}

.paper-title-world {
  background: #008E3D !important;
}

.paper-title-events {
  background: #2AA7BB !important;
}

.paper-title-myrecipes {
  background: #F8B000 !important;
}

.paper-title-newrecipe {
  background: #F55300 !important;
}

.paper-title-profile {
  background: #3f51b5 !important;
}

.paper-title-danger {
  background: #FC050C !important;
}

.paper-title-favourites {
  background: #9b42f4 !important;
}

.paper-title-icon {
  padding: 16px 20px;
}

.paper-title-icon svg {
  vertical-align: middle;
}

.paper-title-text {
  line-height: 56px;
}

.paper-recipe,
.paper-events {
  margin-top: 16px;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: #cfcfcf;
}

::-webkit-scrollbar-thumb {
  background-color: #aaaaaa;
}

.empty-container {
  border-radius: 4px;
  padding: 16px 26px;
  border-width: 2px;
  border-style: dashed;
  border-color: #ffffff;
  text-align: center;
  color: #ffffff;
  margin-bottom: 14px;
}

.paper-recipe-new {
  padding: 5px 18px 10px 18px;
  margin-bottom: 24px !important;
}

.main-grid {
  margin: 0px !important;
}

.sub-grid {
  margin: 0px !important;
  width: 100% !important;
}

.sub-grid .grid-component {
  padding: 0px !important;
}

.sub-grid .grid-left {
  margin-bottom: 14px;
  padding-right: 8px !important;
}

.sub-grid .grid-right {
  padding-left: 8px !important;
}

.card-recipe {
  margin-bottom: 0px;
}

.slider {
  padding: 20px 0px !important;
}

#slider-label {
  text-align: left !important;
  margin-top: 12px;
  margin-bottom: 11px;
  font-size: 12px !important;
  color: rgba(0, 0, 0, 0.54);
}

.number-of-recipes {
  position: absolute;
  right: 0;
  line-height: 56px;
  padding: 0px 16px;
}

.clear-form-container {
  position: absolute;
  right: 0;
  line-height: 54px;
  padding: 0px 9px;
}

.recipe-controller-container {
  display: flex;
}

.save-btn {
  background: #4BB543 !important;
}

.save-btn:hover {
  background: #42a73b !important;
}

.toast-notification {
  width: 100% !important;
}

.toast-notification span {
  width: 100% !important;
  height: 64px;
  padding: 0 !important;
  line-height: 64px !important;
  border-radius: 0px !important;
}

#textfield-recipe-time::-webkit-datetime-edit-ampm-field {
  display: none;
}

.space-between {
  width: 20px;
}

.slider-container {
  width: 50% !important;
}

.timepicker-container {
  width: 50% !important;
  display: flex;
  flex-direction: row;
}

#menu-category ul,
#menu-minute ul,
#menu-hour ul {
  padding-right: 0px !important;
  width: 100% !important;
}

input[type=time]::-webkit-clear-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  margin: -10px;
}

.slider-and-timepicker-container {
  display: flex;
}

.recipe-card-header div:nth-child(3) {
  margin-right: -12px !important;
}

#delete-recipe-dialog div:nth-child(2) {
  min-width: 280px !important;
  overflow: hidden;
}

.account-details-container {
  padding: 10px 20px;
}

.account-save-container {
  display: flex;
  flex-direction: row;
}

.icon-outlined {
  fill: #b1b1b1 !important;
}

.hour-picker,
.minute-picker {
  margin-bottom: 0px !important;
  margin-top: 12px !important;
}

.hour-picker label {
  color: rgba(0, 0, 0, 0.54) !important;
}

.hour,
.minute {
  width: 50%;
}

.time-select-label {
  white-space: nowrap;
}

.dose-cost-container {
  display: flex;
  flex-direction: row;
}

.dose-cost-container .space-between {
  width: 32px !important;
}

.recipe-story-card-content {
  padding: 8px 24px !important;
}

.recipe-content {
  margin-bottom: 14px;
}

.recipe-content:last-of-type {
  margin-bottom: 24px;
}

.language-currency-container {
  display: flex;
  flex-direction: row;
}

.recipe-card-content {
  padding-bottom: 16px !important;
  padding-top: 0px !important;
}

.chip-card-content {
  margin-right: 8px;
}

@media only screen and (max-width: 950px) {
  .grid-component {
    width: 100% !important;
    max-width: 100% !important;
    flex-basis: 100% !important;
  }

  .main-grid {
    display: block !important;
  }

  .paper-recipe-new {
    margin-bottom: 0px !important;
  }

  .sub-grid .grid-left {
    padding-right: 0px !important;
  }

  .sub-grid .grid-right {
    padding-left: 0px !important;
  }
}

@media only screen and (max-width: 600px) {
  .ComponentContent {
    height: calc(100vh - 57px);
    padding-top: 57px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .card-recipe {
    margin-bottom: 14px;
  }

  .paper-recipe-new {
    padding: 5px 18px 10px 18px;
  }

  .account-details-container {
    padding: 5px 18px 10px 18px;
  }

  .toast-notification span {
    height: 56px;
    line-height: 56px !important;
  }

  .dose-cost-container {
    flex-direction: column;
  }

  .language-currency-container {
    flex-direction: column;
  }

  .recipe-content:last-of-type {
    margin-bottom: 0px;
  }

  .main-grid .grid-component:last-of-type {
    padding-bottom: 0px !important;
  }

  .outer {
    height: calc(100vh - 112px);
  }

  .inner {
    width: 305px;
  }
}

@media only screen and (min-width: 600px) {
  .nav-toggle {
    display: none;
  }

  .divider-toggle {
    display: none;
  }
}